Repository git-ecosystem/git-credential-manager, pull requests merged in 2020-05, with the labels that each got.

#104 Add Bitbucket support (text prompts only)
  Git-Credential-Manager.sln
  Git-Credential-Manager.sln.DotSettings
  src/shared/Atlassian.Bitbucket.Tests/Atlassian.Bitbucket.Tests.csproj
  src/shared/Atlassian.Bitbucket/Atlassian.Bitbucket.csproj
  src/shared/Atlassian.Bitbucket/BitbucketAuthentication.cs
  src/shared/Atlassian.Bitbucket/BitbucketConstants.cs
  src/shared/Atlassian.Bitbucket/BitbucketHostProvider.cs
  src/shared/Atlassian.Bitbucket/BitbucketOAuth2Client.cs
  src/shared/Atlassian.Bitbucket/BitbucketResources.Designer.cs
  src/shared/Atlassian.Bitbucket/BitbucketResources.resx
  src/shared/Atlassian.Bitbucket/BitbucketRestApi.cs
  src/shared/Git-Credential-Manager/Git-Credential-Manager.csproj
  src/shared/Git-Credential-Manager/Program.cs
  src/shared/Microsoft.Git.CredentialManager/Authentication/AuthenticationBase.cs
  src/shared/Microsoft.Git.CredentialManager/UriExtensions.cs
Labels: enhancement, host:bitbucket

#111 Fix error message handling for LibGit2
  src/shared/Microsoft.Git.CredentialManager/Interop/Native/LibGit2.Error.cs
Labels: bug

#117 Ensure we ship the Bitbucket DLL on Windows
  src/windows/Installer.Windows/Setup.iss
  src/windows/Payload.Windows/Payload.Windows.csproj
Labels: bug, host:bitbucket, platform:windows

#118 Update our out-of-date documentation
  .github/ISSUE_TEMPLATE/auth-problem.md
  README.md
  docs/development.md
  docs/faq.md
Labels: engineering

#120 helpers: allow auth helpers to be overridden by config
  src/shared/Atlassian.Bitbucket/BitbucketAuthentication.cs
  src/shared/Atlassian.Bitbucket/BitbucketConstants.cs
  src/shared/GitHub/GitHubAuthentication.cs
  src/shared/GitHub/GitHubConstants.cs
  src/shared/GitHub/GitHubHostProvider.cs
  src/shared/Microsoft.Git.CredentialManager/Authentication/AuthenticationBase.cs
  src/shared/Microsoft.Git.CredentialManager/Authentication/MicrosoftAuthentication.cs
  src/shared/Microsoft.Git.CredentialManager/Constants.cs
Labels: enhancement, host:azure-repos, host:bitbucket, host:github

#95 Correctly check for GUI on Win/Mac/POSIX
  NOTICE
  src/shared/Atlassian.Bitbucket/BitbucketAuthentication.cs
  src/shared/Git-Credential-Manager/NOTICE
  src/shared/GitHub/GitHubAuthentication.cs
  src/shared/Microsoft.Git.CredentialManager.Tests/Authentication/BasicAuthenticationTests.cs
  src/shared/Microsoft.Git.CredentialManager/Authentication/BasicAuthentication.cs
  src/shared/Microsoft.Git.CredentialManager/Authentication/MicrosoftAuthentication.cs
  src/shared/Microsoft.Git.CredentialManager/CommandContext.cs
  src/shared/Microsoft.Git.CredentialManager/ISessionManager.cs
  src/shared/Microsoft.Git.CredentialManager/Interop/MacOS/MacOSSessionManager.cs
  src/shared/Microsoft.Git.CredentialManager/Interop/MacOS/Native/SecurityFramework.cs
  src/shared/Microsoft.Git.CredentialManager/Interop/Posix/PosixSessionManager.cs
  src/shared/Microsoft.Git.CredentialManager/Interop/Windows/Native/User32.cs
  src/shared/Microsoft.Git.CredentialManager/Interop/Windows/WindowsSessionManager.cs
  src/shared/Microsoft.Git.CredentialManager/PlatformUtils.cs
  src/shared/TestInfrastructure/Objects/TestCommandContext.cs
  src/shared/TestInfrastructure/Objects/TestSessionManager.cs
Labels: bug

#114 homebrew: publish new package version on release
  .github/workflows/release-homebrew.yaml
Labels: platform:osx

#116 Add Bitbucket Windows UI project
  Git-Credential-Manager.sln
  src/shared/Atlassian.Bitbucket/BitbucketAuthentication.cs
  src/shared/Microsoft.Git.CredentialManager/EnsureArgument.cs
  src/windows/Atlassian.Bitbucket.UI.Windows/Atlassian.Bitbucket.UI.Windows.csproj
  src/windows/Atlassian.Bitbucket.UI.Windows/AuthenticationPrompts.cs
  src/windows/Atlassian.Bitbucket.UI.Windows/BitbucketResources.Designer.cs
  src/windows/Atlassian.Bitbucket.UI.Windows/BitbucketResources.resx
  src/windows/Atlassian.Bitbucket.UI.Windows/Colors.xaml
  src/windows/Atlassian.Bitbucket.UI.Windows/Controls/CredentialsControl.xaml
  src/windows/Atlassian.Bitbucket.UI.Windows/Controls/CredentialsControl.xaml.cs
  src/windows/Atlassian.Bitbucket.UI.Windows/Controls/OAuthControl.xaml
  src/windows/Atlassian.Bitbucket.UI.Windows/Controls/OAuthControl.xaml.cs
  src/windows/Atlassian.Bitbucket.UI.Windows/Helpers/AccessKeysManagerScoping.cs
  src/windows/Atlassian.Bitbucket.UI.Windows/Helpers/FocusHelper.cs
  src/windows/Atlassian.Bitbucket.UI.Windows/Images/Bitbucket-16x16.ico
  src/windows/Atlassian.Bitbucket.UI.Windows/Images/atlassian-logo-gradient-horizontal-blue@2x.png
  src/windows/Atlassian.Bitbucket.UI.Windows/Images/error.png
  src/windows/Atlassian.Bitbucket.UI.Windows/Program.cs
  src/windows/Atlassian.Bitbucket.UI.Windows/Styles.xaml
  src/windows/Atlassian.Bitbucket.UI.Windows/Tester.xaml
  src/windows/Atlassian.Bitbucket.UI.Windows/Tester.xaml.cs
  src/windows/Atlassian.Bitbucket.UI.Windows/ViewModels/CredentialsViewModel.cs
  src/windows/Atlassian.Bitbucket.UI.Windows/ViewModels/OAuthViewModel.cs
  src/windows/Installer.Windows/Setup.iss
  src/windows/Payload.Windows/Payload.Windows.csproj
  src/windows/Shared.UI.Windows/Controls/SecurePasswordBox.cs
  src/windows/Shared.UI.Windows/Controls/ValidationMessage.cs
  src/windows/Shared.UI.Windows/ViewModels/Validation/ModelValidator.cs
  src/windows/Shared.UI.Windows/ViewModels/Validation/PropertyValidationResult.cs
  src/windows/Shared.UI.Windows/ViewModels/Validation/PropertyValidator.cs
  src/windows/Shared.UI.Windows/ViewModels/Validation/PropertyValidatorExtensions.cs
  src/windows/Shared.UI.Windows/ViewModels/Validation/ValidationStatus.cs
  src/windows/Shared.UI.Windows/ViewModels/ViewModel.cs
Labels: enhancement, host:bitbucket, platform:windows

#124 windows-ui: fix inverted user interactive check
  src/shared/Microsoft.Git.CredentialManager/Interop/Windows/WindowsSessionManager.cs
Labels: bug, platform:windows

#126 Don't attempt to deserialize nulls from bitbucket response
  src/shared/Atlassian.Bitbucket/BitbucketRestApi.cs
Labels: bug, host:bitbucket

#127 homebrew: fix automatic Homebrew update
  .github/workflows/release-homebrew.yaml
Labels: engineering
