Repository git-ecosystem/git-credential-manager, pull requests merged in 2021-02, with the labels that each got.

#272 Fix bug to ensure correct provider disposal
  src/shared/Microsoft.Git.CredentialManager/HostProviderRegistry.cs
Labels: bug

#274 Drop the native macOS ADAL-based Microsoft Authentication component
  Git-Credential-Manager.sln
  docs/configuration.md
  docs/environment.md
  src/osx/Installer.Mac/Installer.Mac.csproj
  src/osx/Installer.Mac/layout.sh
  src/osx/Microsoft.Authentication.Helper.Mac/Microsoft.Authentication.Helper.Mac.csproj
  src/osx/Microsoft.Authentication.Helper.Mac/Microsoft.Authentication.Helper.xcodeproj/project.pbxproj
  src/osx/Microsoft.Authentication.Helper.Mac/Microsoft.Authentication.Helper.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  src/osx/Microsoft.Authentication.Helper.Mac/Microsoft.Authentication.Helper.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/osx/Microsoft.Authentication.Helper.Mac/Microsoft.Authentication.Helper.xcworkspace/contents.xcworkspacedata
  src/osx/Microsoft.Authentication.Helper.Mac/Microsoft.Authentication.Helper.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/osx/Microsoft.Authentication.Helper.Mac/Podfile
  src/osx/Microsoft.Authentication.Helper.Mac/Podfile.lock
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHAppDelegate.h
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHAppDelegate.m
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHFileLogWriter.h
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHFileLogWriter.m
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHGenerateAccessToken.h
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHGenerateAccessToken.m
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHLogWriter.h
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHLogger.h
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHLogger.m
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHStdErrorLogWriter.h
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/AHStdErrorLogWriter.m
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/Extensions/NSMutableDictionary+DictionaryFromConfig.h
  src/osx/Microsoft.Authentication.Helper.Mac/Source/Core/Extensions/NSMutableDictionary+DictionaryFromConfig.m
  src/osx/Microsoft.Authentication.Helper.Mac/Source/main.m
  src/osx/Microsoft.Authentication.Helper.Mac/build.sh
  src/osx/SignFiles.Mac/SignFiles.Mac.csproj
  src/shared/Microsoft.Git.CredentialManager/Authentication/MicrosoftAuthentication.cs
  src/shared/Microsoft.Git.CredentialManager/Constants.cs
Labels: auth:microsoft, enhancement, platform:osx

#277 Harmonise Microsoft Authentication APIs with AAD "v2" and MSAL concepts
  src/shared/Microsoft.AzureRepos.Tests/AzureDevOpsApiTests.cs
  src/shared/Microsoft.AzureRepos.Tests/AzureReposHostProviderTests.cs
  src/shared/Microsoft.AzureRepos/AzureDevOpsConstants.cs
  src/shared/Microsoft.AzureRepos/AzureDevOpsRestApi.cs
  src/shared/Microsoft.AzureRepos/AzureReposHostProvider.cs
  src/shared/Microsoft.Git.CredentialManager.Tests/Authentication/MicrosoftAuthenticationTests.cs
  src/shared/Microsoft.Git.CredentialManager/Authentication/MicrosoftAuthentication.cs
  src/shared/Microsoft.Git.CredentialManager/JsonWebTokenExtensions.cs
  src/shared/Microsoft.Git.CredentialManager/Microsoft.Git.CredentialManager.csproj
  src/shared/TestInfrastructure/TestHelpers.cs
  src/windows/Installer.Windows/Setup.iss
Labels: auth:microsoft, engineering

#275 Integrate with the shared Microsoft developer tools AAD token cache on macOS
  src/shared/Microsoft.Git.CredentialManager/Authentication/MicrosoftAuthentication.cs
  src/shared/Microsoft.Git.CredentialManager/Constants.cs
  src/shared/Microsoft.Git.CredentialManager/FileSystem.cs
  src/shared/Microsoft.Git.CredentialManager/Interop/Linux/LinuxCredentialStore.cs
  src/shared/Microsoft.Git.CredentialManager/Microsoft.Git.CredentialManager.csproj
  src/shared/TestInfrastructure/Objects/TestFileSystem.cs
Labels: auth:microsoft, enhancement, platform:osx

#279 Add ability to override Microsoft Authentication parameters for Azure Repos
  src/shared/Microsoft.AzureRepos/AzureDevOpsConstants.cs
  src/shared/Microsoft.AzureRepos/AzureDevOpsRestApi.cs
  src/shared/Microsoft.AzureRepos/AzureReposHostProvider.cs
Labels: auth:microsoft, enhancement, host:azure-repos

#273 Use System.CommandLine to parse cmdline args and allow provider to offer cmds
  docs/usage.md
  src/shared/Microsoft.Git.CredentialManager.Tests/Commands/ConfigureCommandTests.cs
  src/shared/Microsoft.Git.CredentialManager.Tests/Commands/EraseCommandTests.cs
  src/shared/Microsoft.Git.CredentialManager.Tests/Commands/GetCommandTests.cs
  src/shared/Microsoft.Git.CredentialManager.Tests/Commands/GitCommandBaseTests.cs
  src/shared/Microsoft.Git.CredentialManager.Tests/Commands/StoreCommandTests.cs
  src/shared/Microsoft.Git.CredentialManager.Tests/Commands/UnconfigureCommandTests.cs
  src/shared/Microsoft.Git.CredentialManager/Application.cs
  src/shared/Microsoft.Git.CredentialManager/Commands/Command.cs
  src/shared/Microsoft.Git.CredentialManager/Commands/ConfigurationCommands.cs
  src/shared/Microsoft.Git.CredentialManager/Commands/EraseCommand.cs
  src/shared/Microsoft.Git.CredentialManager/Commands/GetCommand.cs
  src/shared/Microsoft.Git.CredentialManager/Commands/GitCommandBase.cs
  src/shared/Microsoft.Git.CredentialManager/Commands/HelpCommand.cs
  src/shared/Microsoft.Git.CredentialManager/Commands/ProviderCommand.cs
  src/shared/Microsoft.Git.CredentialManager/Commands/StoreCommand.cs
  src/shared/Microsoft.Git.CredentialManager/Commands/VersionCommand.cs
  src/shared/Microsoft.Git.CredentialManager/Microsoft.Git.CredentialManager.csproj
Labels: enhancement

#282 Update various docs in response to new features and fix some typos
  README.md
  docs/architecture.md
  docs/configuration.md
  docs/environment.md
  docs/github-apideprecation.md
  docs/hostprovider.md
Labels: docs

#283 Target .NET Framework 4.7.2 and fix missing binaries in Windows installers
  .azure-pipelines/templates/windows/pack.yml
  docs/development.md
  src/shared/Atlassian.Bitbucket/Atlassian.Bitbucket.csproj
  src/shared/Git-Credential-Manager/Git-Credential-Manager.csproj
  src/shared/GitHub/GitHub.csproj
  src/shared/Microsoft.AzureRepos/Microsoft.AzureRepos.csproj
  src/shared/Microsoft.Git.CredentialManager/Microsoft.Git.CredentialManager.csproj
  src/windows/Atlassian.Bitbucket.UI.Windows/Atlassian.Bitbucket.UI.Windows.csproj
  src/windows/GitHub.UI.Windows/GitHub.UI.Windows.csproj
  src/windows/Installer.Windows/Installer.Windows.csproj
  src/windows/Installer.Windows/Setup.iss
  src/windows/Payload.Windows/Payload.Windows.csproj
  src/windows/Shared.UI.Windows/Shared.UI.Windows.csproj
Labels: bug, platform:windows

#287 Add Git credential cache as backing store on Linux
  docs/configuration.md
  docs/environment.md
  docs/linuxcredstores.md
  src/shared/Microsoft.Git.CredentialManager/CommandContext.cs
  src/shared/Microsoft.Git.CredentialManager/Constants.cs
  src/shared/Microsoft.Git.CredentialManager/CredentialCacheStore.cs
  src/shared/Microsoft.Git.CredentialManager/Git.cs
  src/shared/Microsoft.Git.CredentialManager/Interop/Linux/LinuxCredentialStore.cs
  src/shared/TestInfrastructure/Objects/TestGit.cs
Labels: enhancement
