Repository git-ecosystem/git-credential-manager, pull requests merged in 2022-10, with the labels that each got.

#892 docs: use short link for Linux install src
  README.md
Labels: platform:linux, installation, docs

#895 Document how to lint documentation
  docs/development.md
Labels: hacktoberfest-accepted

#903 Include git-credential-manager-ui.exe in installer
  src/windows/Installer.Windows/Setup.iss
Labels: bug, platform:windows, installation

#905 Add icon to dotnet tool NuGet package
  .github/workflows/release.yml
  src/shared/DotnetTool/DotnetTool.csproj
  src/shared/DotnetTool/dotnet-tool.nuspec
  src/shared/DotnetTool/icon.png
  src/shared/DotnetTool/pack-tool.sh
  src/windows/Installer.Windows/layout.ps1
Labels: dotnet-tool

#923 windows: add missing DllImport attribute to LocalFree
  src/shared/Core/Interop/Windows/Native/Kernel32.cs
Labels: bug, platform:windows
