Repository git-ecosystem/git-credential-manager, pull requests merged in 2022-01, with the labels that each got.

#601 Use correct window title for device code in GitHub UI
  src/shared/GitHub.UI/ViewModels/DeviceCodeViewModel.cs
Labels: bug, host:github, gui

#604 Fix WSL instructions by adding missing quotes
  docs/wsl.md
Labels: docs

#600 Add option to disable GUI prompts/prefer terminal prompts instead
  docs/configuration.md
  docs/environment.md
  docs/faq.md
  src/shared/Atlassian.Bitbucket/BitbucketAuthentication.cs
  src/shared/Core/Authentication/AuthenticationBase.cs
  src/shared/Core/Authentication/BasicAuthentication.cs
  src/shared/Core/Constants.cs
  src/shared/Core/Settings.cs
  src/shared/GitHub/GitHubAuthentication.cs
  src/shared/TestInfrastructure/Objects/TestSettings.cs
Labels: enhancement, gui

#591 Web browser and PAT support for GitLab
  Git-Credential-Manager.sln
  README.md
  docs/configuration.md
  docs/environment.md
  docs/gitlab.md
  src/shared/Git-Credential-Manager/Git-Credential-Manager.csproj
  src/shared/Git-Credential-Manager/Program.cs
  src/shared/GitLab.Tests/GitLab.Tests.csproj
  src/shared/GitLab.Tests/GitLabAuthenticationTests.cs
  src/shared/GitLab.Tests/GitLabHostProviderTests.cs
  src/shared/GitLab/GitLab.csproj
  src/shared/GitLab/GitLabAuthentication.cs
  src/shared/GitLab/GitLabConstants.cs
  src/shared/GitLab/GitLabHostProvider.cs
  src/shared/GitLab/GitLabOAuth2Client.cs
  src/shared/GitLab/InternalsVisibleTo.cs
Labels: enhancement

#612 Update `IsWslPath` to detect `\\wsl.localhost`-style paths
  src/shared/Core.Tests/WslUtilsTests.cs
  src/shared/Core/WslUtils.cs
Labels: bug, platform:wsl
