Repository git-ecosystem/git-credential-manager, pull requests merged in 2023-10, with the labels that each got.

#1409 Support linux install path from src
  src/linux/Packaging.Linux/Packaging.Linux.csproj
  src/linux/Packaging.Linux/build.sh
  src/linux/Packaging.Linux/install-from-source.sh
Labels: platform:linux, installation

#1442 use universal Gitea OAuth configuration
  src/shared/Core.Tests/GenericOAuthConfigTests.cs
  src/shared/Core/GenericHostProvider.cs
  src/shared/Core/GenericOAuthConfig.cs
Labels: auth:oauth

#1444 default OAuth redirect URI to http://127.0.0.1
  docs/generic-oauth.md
  src/shared/Core/GenericOAuthConfig.cs
Labels: auth:oauth

#1445 Add software rendering flag for Windows
  docs/configuration.md
  docs/environment.md
  src/shared/Core/ApplicationBase.cs
  src/shared/Core/Constants.cs
  src/shared/Core/PlatformUtils.cs
  src/shared/Core/Settings.cs
  src/shared/Core/UI/AvaloniaUi.cs
  src/shared/TestInfrastructure/Objects/TestSettings.cs
Labels: bug, platform:windows, gui

#1447 platformutils: drop unnecessary netfx #ifdefs
  src/shared/Core/PlatformUtils.cs
Labels: platform:windows, engineering

#1453 avalonia: actually setup Avalonia before starting
  src/shared/Core/UI/AvaloniaUi.cs
Labels: bug, gui
